<%- include('partials/header') -%>
<h1>Home</h1>

<p> <%= content %></p>

<% postsArray.forEach( (post) => { %>
    <h1><%= post.postTitle %></h1>
    <% if (post.postContent.length > 100) { %>
        <p><%= post.postContent.substring(0,100) + '...' %>
        <a href='/posts/<%=post.postTitle%>'' >Read more</a>
        </p>
    <% } else { %>
        <p><%= post.postContent %></p>
    <% } %>
<% }); %>

<%- include('partials/footer') -%>
