<%- include('partials/header') -%>
<!-- <div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=1127066761001755&autoLogAppEvents=1" nonce="KGWNrf5X"></script> -->
<h1><%=title%></h1>
<span><%=author%></span>
<p class='postcontent' id='contentToTransform'><%-content%></p>
<% if(!visitor) { %>
<p style='display:none;'><%=id%></p>

<form class="delete" action="/delete" method="post">
    <button class='btn btn-danger btn-lg' type="submit" name="postId" value='<%=id%>'>Delete Post</button>
    <span id="delete">WARNING! This action can't be undone!</span>
</form>
<% } %>
<!-- <div class="comment-section">
    <div class="row">
        <div class="col-xs-12">
            <form class="comment" action="index.html" method="post">
                <div class="form-group">
                    <textarea name="newComment" rows="6" cols="150" placeholder='Add your comment here.'></textarea>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- <div class="fb-comments" data-href="http://localhost:3000/posts/" data-numposts="5" data-width=""></div> -->
<!-- <script type="text/javascript">
    createYoutubeEmbed = (key) => {
  return '<iframe width="420" height="345" src="https://www.youtube.com/embed/' + key + '" frameborder="0" allowfullscreen></iframe><br/>';
};

transformYoutubeLinks = (text) => {
  if (!text) return text;
  const self = this;

  const linkreg = /(?:)<a([^>]+)>(.+?)<\/a>/g;
  const fullreg = /(https?:\/\/)?(www\.)?(youtube\.com\/watch\?v=|youtu\.be\/)([^& \n<]+)(?:[^ \n<]+)?/g;
  const regex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/watch\?v=|youtu\.be\/)([^& \n<]+)(?:[^ \n<]+)?/g;

  let resultHtml = text;

  // get all the matches for youtube links using the first regex
  const match = text.match(fullreg);
  if (match && match.length > 0) {
    // get all links and put in placeholders
    const matchlinks = text.match(linkreg);
    if (matchlinks && matchlinks.length > 0) {
      for (var i=0; i < matchlinks.length; i++) {
        resultHtml = resultHtml.replace(matchlinks[i], "#placeholder" + i + "#");
      }
    }

    // now go through the matches one by one
    for (var i=0; i < match.length; i++) {
      // get the key out of the match using the second regex
      let matchParts = match[i].split(regex);
      // replace the full match with the embedded youtube code
      resultHtml = resultHtml.replace(match[i], self.createYoutubeEmbed(matchParts[1]));
    }

    // ok now put our links back where the placeholders were.
    if (matchlinks && matchlinks.length > 0) {
      for (var i=0; i < matchlinks.length; i++) {
        resultHtml = resultHtml.replace("#placeholder" + i + "#", matchlinks[i]);
      }
    }
  }
  return resultHtml;
};

const htmlContent = document.getElementById('contentToTransform');
htmlContent.innerHTML = transformYoutubeLinks(htmlContent.innerHTML);
</script> -->


<%- include('partials/footer') -%>
