<%- include('header') -%>
    <div class="box" id='heading'>
        <h1> <%= listTitle %></h1>
    </div>

    <div class="box">

        <% newListItem.forEach((item) => { %>
        <form class="" action="/delete" method="post">
        <div class="item">
            <input type="checkbox" onChange='this.form.submit()' name='checkbox' value='<%=item._id%>'>
            <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%=listTitle%>"></input>
        </form>
        <% }); %>

        <form class="item" action="<%= action %>" method="post">
            <input type="text" name="newItem" value="" placeholder="New item">
            <button type="submit" name="">+</button>
        </form>
    </div>
<%- include('footer') -%>
